.meme-generator .button-font{
    font-family: 'Anton', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin: 24px 0;
    cursor: pointer;
    transition: all 400ms ease;
    padding: 8px 20px;
    -webkit-box-shadow:22px 10px 39px 0px rgba(62,66,66,0.35);
    -moz-box-shadow: 22px 10px 39px 0px rgba(62,66,66,0.35);
    box-shadow: 22px 10px 39px 0px rgba(62,66,66,0.35);
    background-color:transparent;
}

.button-font:hover{
    padding: 8px 36px;
    letter-spacing: 3px;
}

.meme-generator{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.meme-generator img{
    height: 430px;
    object-fit: cover;
    margin: 25px 0;
}

.meme-generator .meme-div-container{
    margin: 8px;
}

#divcenter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

#header-style{
    padding: 20px;
    background-color: gray;
    border-bottom: 10px black;
    -webkit-box-shadow:0px 10px 39px 10px rgba(27, 114, 114, 0.22);
    -moz-box-shadow: 0px 10px 39px 10px rgba(62,66,66,0.22);
    box-shadow: 0px 10px 39px 10px rgba(62,66,66,0.22);
}

#headertext-style{
    font-family: 'Anton', sans-serif;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    letter-spacing: 2px;
    border-bottom: 6px black;
}

#buttondiv{
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 25% 0%;
}

#body{
    background-color: bisque;
}
